.side {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  top: 52px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

.side li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.side li a.active {
  background-color: #04aa6d;
  color: white;
}

.side li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
